<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>936070815257-g8q689a91u5gha5klcua0utn8gti6jhe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.936070815257-g8q689a91u5gha5klcua0utn8gti6jhe</string>
	<key>API_KEY</key>
	<string>AIzaSyBVNSn5L_74J13MhX1JXxnyNBhLWcHJMSw</string>
	<key>GCM_SENDER_ID</key>
	<string>936070815257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.twitterApi</string>
	<key>PROJECT_ID</key>
	<string>crud-461f7</string>
	<key>STORAGE_BUCKET</key>
	<string>crud-461f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936070815257:ios:08296aaa770e57afcdd488</string>
</dict>
</plist>